* {
      margin: 0px;
      padding: 0px;
    } 
    h1 {
      font: bold 20px verdana, sans-serif;
    } 
    h2 {
      font: bold 14px verdana, sans-serif;
    } 
    header, section, footer, aside, nav, article, figure, figcaption, hgroup{
      display: block;
    }
    body {
      width: 100%;
      display: -moz-box;
      display: -webkit-box;
      -moz-box-pack: center;
      -webkit-box-pack: center;
    }
    #wrapper{
      max-width: 960px;
      margin: 15px 0px;
      display: -moz-box;
      display: -webkit-box;
      -moz-box-orient: vertical;
      -webkit-box-orient: vertical;
      -moz-box-flex: 1;
      -webkit-box-flex: 1;
    }
    #main_header {
      background: #FFFBB9;
      border: 1px solid #999999;
      padding: 20px;
    } 
    #main_menu {
      background: #CCCCCC;
      padding: 5px 15px;
    }
    #main_menu li {
      display: inline-block;
      list-style: none;
      padding: 5px;
      font: bold 14px verdana, sans-serif;
    }
    #container {
      display: -moz-box;
      display: -webkit-box;
      -moz-box-orient: horizontal;
      -webkit-box-orient: horizontal;
    }
    #main_section {
      -moz-box-flex: 1;
      -webkit-box-flex: 1;
      margin-top: 20px;
	  margin-bottom: 20px;
	  margin-left: 10px;
	  margin-right: 0px;
	} 
    #main_aside {
      width: 200px;
      margin: 20px 0px;
      padding: 10px;
      border: 1px solid #999999;
    }
    #main_footer {
      text-align: center;
      padding: 20px;
      border-top: 2px solid #999999;
    } 
    article {
      border: 1px solid #999999;
      padding: 20px;
    } 
    time {
      color: #999999;
    } 
    article footer {
      text-align: right;
    } 
    figcaption {
      font: italic 14px verdana, sans-serif;
    }

	#sorting_title {
		width:100%;   
		text-align:center; 
		margin-top: 10px;
		height: 50px; 
		border-bottom: 1px solid #999999;
	}

	#sorting_content {
		padding: 10px;
	}
	
	#sorting_car {
	  display: inline-block;
	  outline: none;
	  cursor: pointer;
	  color: #FFFFFF;
	  width: 90px;
	  height: 40px;
	  margin-right: 3px;
	  text-align: center;
	  text-decoration: none;
	  font: 16px Arial, Helvetica, sans-serif;
	  font-weight: bold;
	  border: solid 1px #538312;
	  border-radius: .5em;
	  background: #0095cd;
	  background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	  background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
	  box-shadow: 0 1px 2px rgba(0,0,0,.2);
	}
	#sorting_car:hover {
	  background: #007ead;
	  background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	  background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
	}
	#sorting_car:active {
	  color: #FFFFFF;
	  background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	  background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
	}

	#sorting_date {
	  display: inline-block;
	  outline: none;
	  cursor: pointer;
	  color: #FFFFFF;
	  width: 90px;
	  height: 40px;
	  margin-left: 3px;
	  text-align: center;
	  text-decoration: none;
	  font: 16px Arial, Helvetica, sans-serif;
	  font-weight: bold;
	  border: solid 1px #538312;
	  border-radius: .5em;
	  background: #0095cd;
	  background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	  background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
	  box-shadow: 0 1px 2px rgba(0,0,0,.2);
	}
	#sorting_date:hover {
	  background: #007ead;
	  background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	  background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
	}
	#sorting_date:active {
	  color: #FFFFFF;
	  background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	  background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
	}
	
	.folder {
		width:180px; 
		height:35px; 
		vertical-align:middle;
		
	}

	.folder_image {
		cursor: pointer;
		width:33px;
		height:33px; 
		vertical-align:top;
		line-height:35px;
	}
	
	.folder_name {
		cursor: pointer;
		width:60px; 
		height:35px; 
		font: 18px Arial, Helvetica, sans-serif;
		vertical-align:top;
		line-height:35px;
	}

	#search_input {
		width:130px; 
		height:25px;
		font: 15px Arial, Helvetica, sans-serif;
		margin: 4px 2px 4px 4px;
	}

	#searching {
	  display: inline-block;
	  outline: none;
	  cursor: pointer;
	  color: #FFFFFF;
	  width: 50px;
	  height: 28px;
	  margin-left: 1px;
	  text-align: center;
	  text-decoration: none;
	  font: 16px Arial, Helvetica, sans-serif;
	  font-weight: bold;
	  border: solid 1px #538312;
	  border-radius: .5em;
	  background: #0095cd;
	  background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	  background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
	  box-shadow: 0 1px 2px rgba(0,0,0,.2);
	}
	#searching:hover {
	  background: #007ead;
	  background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	  background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
	}
	#searching:active {
	  color: #FFFFFF;
	  background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	  background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
	}